:root {
  --main-font: 'Lato', sans-serif;
  --background-color: #23272f;
  --item-color: #343a46;
  --main-color: #1d4b5b;
  --white: #dfdfdf;
}

/* global styles */

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: var(--background-color);
  color: var(--white);
}
